<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
	<div class="container">
		<a class="navbar-brand" href="/"
			><img src="/common/images/cock.jpeg" alt="" width="30" height="24" />
		</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul
				class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-end flex-grow-1"
			>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/posts/">Posts</a>
				</li>
				<% if (isAuthenticated===true) { %>

				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						Dropdown
					</a>
					<ul class="dropdown-menu">
						<li>
							<span class="dropdown-item"><%=locals.user.email %></span>
						</li>
						<li>
							<a class="dropdown-item" href="#">Settings</a>
						</li>
						<li>
							<hr class="dropdown-divider" />
						</li>
						<li>
							<form
								action="/blog/logout?_method=DELETE"
								method="post"
								class="dropdown-item d-flex"
							>
								<button type="submit" class="btn btn-primary flex-grow-1"
									>Logout</button
								>
							</form>
						</li>
					</ul>
				</li>
				<%} %>
			</ul>
		</div>
	</div>
</nav>
